* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: fit-content;
    height: fit-content;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(188, 54, 241);
    width: 100%;
    height: 15%;
}

header>.logo>a>img {
    width: 100px;
    height: 100px;
}

header>.logo>img:hover {
    cursor: pointer;
}

header>.busca>img {
    width: 50px;
    height: 50px;
}

.logo {
    width: 15%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.busca {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    width: 40%;
    height: 40%;
    padding: 5px;

}

.busca>input {
    border: none;
    outline: none;
    padding: 10px;
    height: 100%;
    width: 100%;
}

.busca:focus-within {
    border: 3px solid black;
}

.login {
    width: 25%;
    height: fit-content;
}

.login>span {
    color: white
}

.login>span>a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.compras {
    width: 35px;
}

.compras:hover {
    cursor: pointer;
}

main {
    display: grid;
    width: 100%;
    grid-template-columns: 20% 80%;
    column-gap: 20px;
    row-gap: 20px;
    padding: 50px 0px 50px 0px;
}

.filtros {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: fit-content;
    width: 100%;
    border-radius: 10px;
    background-color: gray;
    padding: 10px;
    margin: 10px;
}

.classes {
    width: 100%;
    height: 25%;
    margin: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.filtros>.classes>span {
    font-size: 24px;
    padding: 10px;
}

.filtros>.classes>select {
    font-size: 24px;
    padding: 10px;
    width: 100%;
    height: 60%;
    border: none;
}

.espaco {
    height: 1px;
    width: 100%;
    background-color: lightgray;
}

.produtos {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    overflow-x: auto;
}

.produtos > a{
    text-decoration: none;
    color:black;
}

.produto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px;

}

.produto>img {
    width: 50%;
    align-self: center;
}

.produto:hover {
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 5px 5px 15px;
}

.pix {
    font-weight: bold;
    font-size: 24px;
}

.x10 {
    font-weight: bold;
    font-size: 18px;
}

footer {
    background-color: pink;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    column-gap: 50px;
    height: fit-content;
    width: 100%;
    padding: 30px;
}

.quemsomos {
    display: flex;
    flex-direction: column;
    align-items: justify;
    justify-content: space-between;

}

h4 {
    margin-top: 50px;
}

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato>span {
    margin: 20px;
}

.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer>.faq>ul {
    list-style: none;
}

footer>.faq>ul>a>li {
    margin-top: 50px;
}

footer>.faq>ul>a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 14px
}