*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: auto;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color:white;
    font-size: 12px;
}

p{
    margin:0;
}

header div{
    width: 33%;
    height: 100%;
}

.esquerda{
    display: flex;
    align-items: center;
    padding:30px;
    font-weight:bold;
}

.meio{
    display: flex;
    align-items: center;
    justify-content: center;
}

.meio p{
    margin: 0 20px 0 20px;
}

.direita{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding:30px;
}

.direita i{
    margin: 0 10px 0 10px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.principal{
    height: 90vh;
    width: 100%;
    padding: 80px 0 0 60px;
}

.principal div{
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.principal div h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

.principal button{
    width: 100%;
    height: 40px;
    background-color: black;
    color:white;
    border:none
}

.principal button:hover{
    background-color: rgb(54, 225, 171);
    cursor: pointer;
}

.marcas{
    height:100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top:1px solid black;
    border-bottom:1px solid black;
}

.marcas div{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.best-sellers{
    width: 95%;
    padding:60px 0 0 20px;
}

.best-sellers h3{
    margin-bottom: 30px;
}

.produtos{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4,24%);
    place-items: center;
    padding:30px;
    gap: 10px;
}

.produto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 450px;
    border:1px solid gray;
}

.nome{
    height: 100px;
    padding:10px 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.produto h4{
    font-size: 24px;
}

.produto p{
    font-size:12px;
}

.produto button{
    width: 100%;
    height: 40px;
    background: black;
    color:white;
    align-self: flex-end;
}

.imagem img{
    height: 300px;
    width: 100%;
}

.bits{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top:100px;
}

.bits h3{
    font-size: 30px;
}

.parte3{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.esquerda3 div, .direita3 div{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding:20px;
}

.esquerda3 div h5 , .direita3 div h5{
    font-weight: 200;
    padding:10px 0 20px 0;
    font-size:16px;
}

.esquerda3 div i , .direita3 div i{
    font-size: 30px;
}

.reviews{
    width: 100%;
    background-color: black;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-review{
    height: 60px;
    width: 300px;
    background-color: white;
    color: black;
    font: 20px;
    margin:50px 0 100px 0;
}

.btn-review:hover{
    cursor: pointer;
    background-color: rgb(54, 225, 171);
}

.review-imagens{
    width: 100%;
    display: flex;
}

.review-imagens div{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end;
    font-weight: 800;
}

.imagem1{
    background-image: url(../img/edicao1.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    color:black;
    padding:50px;
}

.imagem2{
    background-image: url(../img/edicao2.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    color:black;
    padding:50px;
}

.imagem1 button, .imagem2 button{
    height: 40px;
    width: 40%;
    background-color: black;
    color:white;
    margin:40px 0 10px 0;
}

.imagem1 button:hover, .imagem2 button:hover{
    cursor: pointer;
    background-color: rgb(54, 225, 171);
}


.categorias{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-bottom:50px;
}

.opcoes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.opcoes div{
    width: 32%;
    border:1px solid black
}

.faq{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-top:100px;
}

.faq h3{
    text-align: left;
}

.faq button{
    width: 100%;
    height: 60px;
    text-align: left;
    border:none;
    border-top:1px solid black;
}

/* .faq button:focus{
    outline:none
} */

footer{
    width: 100%;
    display: flex;
    background-color: black;
    color: white;
}

.footer-esquerda{
    width: 30%;
    border-right:1px solid white;
    padding:10px 30px 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-esquerda input[type="submit"]{
    width: 50%;
    height: 40px;
}

.footer-direita{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding:30px 0 0 20px;
}

.grid-4{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,24%);
    
}

.grid-4 li{
    list-style: none;
}

.direitos{
    margin:20px 0 20px 0
}

.direitos a{
    color:inherit;
    margin:0 10px 0 10px;
    text-decoration: none;
    
}