*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background: #eee;
}

button{
    padding:20px 40px;
    border-radius: 10px;
    margin: 10px;
    background:#FFF;
    font-weight: bold;
}

button:hover{
    cursor: pointer;
    color:green;
    box-shadow: 3px 3px 3px purple;
}